
.UserInfo .game-box{
    /* background-color: rgba(165, 141, 169); */
    background-color: rgba(132, 59, 148,0.4);
    height: 6rem;
    width: 170px;
    text-align: center;
    flex-direction: column;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
 }
 
 .UserInfo .bar{
    display: block;
    width: 26px;
    margin: 5px auto;
    height: 2px;
    background: lightslategrey;
 }
 
 .UserInfo .game-box .team{
    color: rgba(237, 237, 237);
 }
 
 .UserInfo .datatext{
    color: white;
    margin-top: 5px;
 }
 
 .UserInfo .game-b{
    display: table-cell;
    height: 96px;
    vertical-align: middle;
    text-align: center;
 }
 
 .UserInfo .datatitletext{
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(237, 237, 237);
 }
 
 
 .UserInfo .game-stats{
 
    display: table;
 }
 
 .UserInfo .kill{
    margin: 0px 30px;
 }