.UserInfo .bg-box{
   margin: 0rem 5rem;
   margin-bottom: 5rem;
   text-align: left;
   position: relative;
   background-color: rgba( 255,255,255, 0.4 );
   border-radius: 0.7rem;
   padding: 0.1rem 5rem 4rem 5rem;
}

.UserInfo .usergame{
   display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.UserInfo .userinfobox{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}

.UserInfo .box{
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   padding: 16px;
   border-radius: 4px;
   background: rgb(211,211,211, 0.8);
   flex: 1 0 222px;
   margin: 8px 0px 0px 8px;
   /* min-width: min-content;
   width: 23rem; */
}

.UserInfo .box-pie{
   box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    flex-direction: row;
    flex: 1 0 222px;
}

.UserInfo .box-pie .data{
   align-self: center;
}

.UserInfo .piechart{
   position: relative;
    width: 7rem;
    height: 7rem;
    box-sizing: border-box;
    margin: 1rem 0rem 0rem 1rem;
}

.UserInfo .colorbox{
   width: 10px;
   height: 10px;
}

.UserInfo .win{
   background-color: #843B94;
}

.UserInfo .loss{
   background-color: #9D74A6
}

.UserInfo .username{
   text-transform: capitalize;
   color: #5C4180;
   font-size: 5.5rem;
   margin: 1rem 0rem;
}

.UserInfo .data{
   display: inline-block;
   font-size: 2rem;
   color: white;
   font-weight: bold;
   margin-top: 0.4rem;
   text-align: left;
}

.UserInfo .game{
   background-color: rgba(165, 141, 169, 0.8);
   margin: 1rem 0.29rem;
   height: 6rem;
   margin-top: 1rem;
   display: table;
   width: 75rem
}

.UserInfo .subtitle{
   color: white;
   font-size: 1.4rem;
   font-weight: lighter;
}

.UserInfo .box span{
   margin-left: 1rem;
}