.UserInfo .bg-box{
   margin: 0rem 5rem;
   margin-bottom: 5rem;
   text-align: left;
   position: relative;
   background-color: rgba( 255,255,255, 0.4 );
   border-radius: 0.7rem;
   padding: 0.1rem 5rem 4rem 5rem;
}

.UserInfo .usergame{
   display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.UserInfo .userinfobox{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}

.UserInfo .box{
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   padding: 16px;
   border-radius: 4px;
   background: rgb(211,211,211, 0.8);
   flex: 1 0 222px;
   margin: 8px 0px 0px 8px;
   /* min-width: min-content;
   width: 23rem; */
}

.UserInfo .box-pie{
   box-sizing: border-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    flex-direction: row;
    padding: 16px;
    flex: 1 0 222px;
}

.UserInfo .piechart{
   position: relative;
    width: 6rem;
    height: 6rem;
    box-sizing: border-box;
    margin: 1rem 0rem 0rem 1rem;
}

.UserInfo .username{
   color: #000;
   font-size: 4rem;
}

.UserInfo .data{
   display: inline-block;
   font-size: 2rem;
   color: white;
   font-weight: bold;
   margin-top: 0.4rem;
   text-align: left;
}

.UserInfo .game{
   background-color: rgba(165, 141, 169, 0.8);
   margin: 1rem 0.29rem;
   height: 6rem;
   margin-top: 1rem;
   display: table;
   width: 1210px;
}

.UserInfo .subtitle{
   color: white;
   font-size: 1.4rem;
   font-weight: lighter;
}

.UserInfo .box span{
   margin-left: 1rem;
}

.UserInfo .game-box{
   border: grey solid 2px;
   height: 6rem;
   width: 120px;
   text-align: center;
   flex-direction: column;
   display: table-cell;
   vertical-align: middle;
   font-weight: bold;
}

.UserInfo .bar{
   display: block;
   width: 26px;
   margin: 5px auto;
   height: 2px;
   background: lightslategrey;
}

.UserInfo .game-box .mode{
   color: rgba(237, 237, 237);
}

.UserInfo .datatext{
   color: white;
   margin-top: 5px;
}

.UserInfo .game-b{
   display: table-cell;
   height: 96px;
   vertical-align: middle;
   text-align: center;
}

.UserInfo .datatitletext{
   margin-bottom: 16px;
   font-weight: bold;
   font-size: 1.2rem;
   color: rgba(237, 237, 237);
}


.UserInfo .game-stats{

   display: table;
}

.UserInfo .kill{
   margin: 0px 30px;
}